<template>
  <dev id="app">
    <dev class="content">
      <dev class="content_input">
        <dev class="title">
          <p>用户登录</p>
        </dev>
        <el-input v-model="UserName" clearable placeholder="请输入用户名" />
        <el-input
          v-model="PassWord"
          type="password"
          clearable
          show-password
          placeholder="请输入密码"
        />
        <dev class="content_button">
          <el-button type="primary" @click="onSubmit">登录</el-button>
        </dev>
      </dev>
    </dev>
  </dev>
</template>

<script>
import Ribbon from "../../utils/ribbon.js";
import LoginIndex from "../../utils/login-index.js";
import LoginVue from "../../utils/login-vue.js";

export default {
  name: "LoginPage",
  comments: {
    Ribbon,
    LoginVue,
    LoginIndex,
  },
  data() {
    return {
      UserName: "",
      PassWord: "",
    };
  },
  methods: {
    onSubmit() {
      let that = this;
      let username = that.UserName;
      let password = that.PassWord;
      if (!username) {
        this.$notify.error({
          title: "错误",
          message: "用户名不能为空",
        });
        return;
      } else if (!password) {
        this.$notify.error({
          title: "错误",
          message: "密码不能为空",
        });
        return;
      } else {
        this.$message({
          message: "恭喜你，通过了！",
          type: "success",
        });
        setTimeout(() => {
          this.$notify({
            title: "没得办法就这一页",
            message: "自己点 “X” 吧！",
            position: "top-left",
          });
        }, 2000);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import url("https://unpkg.com/element-ui/lib/theme-chalk/index.css");
@import "~@/styles/login.scss";
</style>
